@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'HUD Regular';
    src: url('https://fonts.cdnfonts.com/s/7742/04B_19__.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #999;
}

footer {
    margin-top: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #999;
}

.author {
    margin-top: 10px;
    font-weight: 700;
    color: white;
}

.year {
    width: 70px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    border-radius: 15px;
    font-weight: 700;
    font-size: .8em;
    color: #e1e1e1;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    border: 10px solid #eee;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.2s;
}

.profile:hover {
    transform: scale(1.2);
}

.repo {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.repo .fa-github {
    font-size: 1.6em;
    color: white;
    margin-right: 10px;
}